<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated epsilon-runtime-test -->
      <package
            uri="http://www.blackbelt.hu/epsilon-runtime/test"
            class="hu.blackbelt.epsilon.runtime.model.test1.data.DataPackage"
            genModel="src/test/resources/epsilon-runtime-test.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated epsilon-runtime-test -->
      <parser
            type="test1-data"
            class="hu.blackbelt.epsilon.runtime.model.test1.data.util.DataResourceFactoryImpl"/>
   </extension>

</plugin>
